# 01.  DataFrame, Series 사용해보기

In [11]:
import pandas as pd

In [17]:
# DataFrame 사용해보기 

name = ['Brand', 'Allen', 'Bonnell']
age = [22, 35, 58]
sex = ['male', 'male', 'female']

data = {'Name' : name,
       'Age' : age,
       'Sex' : sex} # column으로 들어감 

df = pd.DataFrame(data)
df

      Name  Age     Sex
0    Brand   22    male
1    Allen   35    male
2  Bonnell   58  female

In [19]:
# Series 사용해보기

df['Name'] # DataFrame에서 컬럼 명으로 불러오기

0    22
1    33
2    44
3    55
Name: Age, dtype: int64

In [20]:
ages = pd.Series([22, 33, 44, 55], name = 'Age')
ages

0    22
1    33
2    44
3    55
Name: Age, dtype: int64

In [23]:
# 간단한 연산 
df['Age'].max()

58

In [24]:
df.describe() # 기술 통계량 : column에서 볼 수 있는 통계들

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

## 요약 정리
- import poandas as pd
- 판다스에서 테이블 데이터는 데이터프레임으로 부른다.