# 03-1 컬럼 선택하기

## SQL<br>

### SELECT Age, Sex
### FROM titanic

In [6]:
import pandas as pd

# 데이터 가져오기 
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

# Column 하나 선택해보기

In [7]:
# Series 가져오는 것
ages = titanic['Age']
ages

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [10]:
# .shape : 데이터프래임의 행, 열을 확인할 수 있다.
titanic.shape


# len(titanic) : 행의 개수 볼 수 있다
# len(titanic.columns) : 열의 개수를 볼 수 있다

(891, 12)

# Column 2개 이상 선택하기

In [20]:
# 리스트를 넣어주면 된다
cols = ['Age', 'Sex']  # ==titanic[['Age', 'Sex']]
age_sex = titanic[cols]
age_sex

      Age     Sex
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
..    ...     ...
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [19]:
age_sex.shape

(891, 2)

### DataFrame에서 column을 하나가져올 경우는 Series
### 2개 이상일 경우엔 DataFrame이다,