In [2]:
import pandas as pd 

air_quality = pd.read_csv(r"C:\Users\polit\python_Pandas\air_quality.csv")

air_quality.head(3)

              datetime  station_antwerp  station_paris  station_london
0  2019-05-07 02:00:00              NaN            NaN            23.0
1  2019-05-07 03:00:00             50.5           25.0            19.0
2  2019-05-07 04:00:00             45.0           27.7            19.0

In [3]:
s = pd.Series([10, 20, 30], index = ['one', 'tow', 'three'])
s

one      10
tow      20
three    30
dtype: int64

In [4]:
def test(x) :
    return x ** 2

test(s)

one      100
tow      400
three    900
dtype: int64

In [5]:
s.apply(test)

one      100
tow      400
three    900
dtype: int64

In [7]:
s.apply(lambda x : x ** 2)

one      100
tow      400
three    900
dtype: int64

In [8]:
# 각 나라의 평균
air_quality.mean() # 평균 구하는 메소드

station_antwerp    25.778947
station_paris      27.740538
station_london     24.777090
dtype: float64

In [10]:
# 나라들의 평균
mean = air_quality.mean().mean()
mean

26.09885833343611

In [14]:
def level(x) :
    if x > mean :
        result = 'high'
        
    elif x < mean :
        result = 'low'
        
    else :
        return x
    return result

l

'low'

In [17]:
# 이런 식으로 응용하기 
air_quality['station_paris_level'] = air_quality['station_paris'].apply(level)
air_quality['station_paris_level']

0        NaN
1        low
2       high
3       high
4       high
        ...
1030     low
1031     low
1032    high
1033     low
1034     low
Name: station_paris_level, Length: 1035, dtype: object

In [18]:
air_quality['station_paris_level'].head(3)

0     NaN
1     low
2    high
Name: station_paris_level, dtype: object

In [24]:
air_quality.head()

,datetime,station_antwerp,station_paris,station_london,station_paris_level
0,2019-05-07 02:00:00,NaN,NaN,23.0,NaN
1,2019-05-07 03:00:00,50.5,25.0,19.0,low
2,2019-05-07 04:00:00,45.0,27.7,19.0,high
3,2019-05-07 05:00:00,NaN,50.4,16.0,high
4,2019-05-07 06:00:00,NaN,61.9,NaN,high

In [25]:
air_quality['station_paris'].apply(lambda x : 'high' if x >= mean else 'low')

0        low
1        low
2       high
3       high
4       high
        ...
1030     low
1031     low
1032    high
1033     low
1034     low
Name: station_paris, Length: 1035, dtype: object